# dependencies
/contracts/lib
/contracts/out
/contracts/cache
/contracts/deploy_ContractsABIs
/contracts/deploy_ContractsAddr
!/contracts/broadcast
/contracts/broadcast/*/31337/
/contracts/broadcast/*/5/
/contracts/broadcast/**/dry-run/
/frontend/node_modules
/frontend/.next
/frontend/build
/frontend/coverage
/frontend/.pnp
/frontend/package-lock.json
/frontend/.npmrc
.pnp.js

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts